.header {
    background: #fff;
    border-bottom: 1px #fc9e5f solid;
    color: #000;

    padding: 15px 0;
    width: 100%;
    position: fixed;

    z-index: 100;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__right {
        img {
            width: 30px;
            height: 30px;
            cursor: pointer;

            margin:  0 5px;
        }
    }

    &__name {
        display: flex;
        align-items: center;

        cursor: pointer;
    }
    &__img {
        width: 50px;
        height: 50px;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        margin: 0 20px;
        padding: 5px 0 5px 0;

        font-size: 24px;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #f63d18;
            .header__list {
                display: block;
            }
        }
    }
    &__list {
        display: none;
        position: absolute;
        bottom: -255px;
        right: -140px;
        z-index: 100;

        min-height: 200px;
        width: 200px;

        background: #fff;
        border: #fc9e5f 1px solid;
    }
    &__link {
        padding: 10px;

        &:hover {
            background: #fc9e5f;
        }
    }
}